<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
        {% block styles %}
        <link rel="stylesheet" href="{{ full_url_for('showHome') }}assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ full_url_for('showHome') }}assets/css/styles.css"/>
        {% endblock %}
    {% endblock %}
  </head>

  <header>
      {% block header %}
          <nav class="navbar navbar-expand navbar-dark bg-dark">
              <a class="navbar-brand mr-5 font-italic" href="">Puzzlemania</a>
              <a class="navbar-brand mr-4 ml-5" href="{{ full_url_for('showHome') }}">Home</a>
              <a class="navbar-brand mr-4" href="{{ full_url_for('signIn') }}">Sign In</a>
              <a class="navbar-brand mr-4" href="{{ full_url_for('signIn') }}">Sign Up</a>
              <a class="navbar-brand mr-4" href="{{ full_url_for('showHome') }}">Profile</a>
              <a class="navbar-brand mr-4" href="{{ full_url_for('showHome') }}">Team</a>
              <a class="navbar-brand mr-4" href="{{ full_url_for('showHome') }}">Game</a>
              <a class="navbar-brand mr-4" href="{{ full_url_for('showHome') }}">Riddles</a>
              </div>
          </nav>
      {% endblock %}
  </header>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
