{% extends "base.twig" %}

{% block title %}Sign-in | PuzzleMania{% endblock %}

{% block content %}
    {% if notifs is not empty %}
        {% for notif in notifs %}
            <p data-cy="sign-in__message" class="flash-message">{{ notif }}</p>
        {% endfor %}
    {% endif %}
    <div class="text-center">
        <h1 class="mt-5 pt-5">Welcome to PuzzleMania</h1>
        <form data-cy="sign-in" action="{{ formAction }}" method="POST" class="form-signin">
            <input data-cy="sign-in__email" type="text" name="email" placeholder="Enter your email"
                   value="{{ formData.email }}" id="inputEmail" class="form-control mb-2">
            <input data-cy="sign-in__password" type="password" name="password" placeholder="Enter your password"
                   id="inputPassword" class="form-control">
            <input data-cy="sign-in__btn" type="submit" value="Sign-in" class="btn btn-lg btn-primary btn-block">
        </form>
        {% if formErrors['email'] %}
            <p data-cy="sign-in__wrongEmail" class="invalid-feedback mb-0 h3" style="display: block">{{ formErrors['email'] }}</p>
        {% endif %}
        {% if formErrors['password'] %}
            <p data-cy="sign-in__wrongPassword" class="invalid-feedback mb-0 h3" style="display: block">{{ formErrors['password'] }}</p>
        {% endif %}
    </div>

{% endblock %}
